.content1-img img{
    width: 250%;
    margin-left: -60%;
}


.banner0-content {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Nunito, sans-serif";
    font-size: 50px;
}

.banner0-title img  {
    width: 100%;
}

.header0-logo img  {
    width: 25%;
}

.content2-img img {
    width: 60%;
    margin-top: -40%;
    margin-left: 20%;
}

.content2-content {
    margin-left: 15%;
}

.content2-title {
    margin-left: 15%;
}