.content1-img img{
    width: 250%;
    margin-left: -60%;
    margin-top: 25%;
    position: relative;
}
body {
    overflow-x: hidden;
}
.content1-wrapper {
    height: auto;
}
html  {
scroll-behavior: smooth;
}
.content0-wrapper {
    margin-top: 5%;
}

.btn  {
    margin-left: 50% !important;
}


.content2-img img {
    width: 60%;
    margin-top: -40%;
    margin-left: 20%;
}

.content2-content {
    margin-left: 15%;
}

.content2-title {
    margin-left: 15%;
}


.content1-content {
    margin-left: 60px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25%;
    text-align: justify;
    width: 450px;
}

.banner0-button-nav {
    color: #fff;
    background-color: #003382 !important;
    line-height: 48px;
    font-size: 12px;
    height: 25px;
    margin-top: 10%;
    transition: background .45s @ease-out, box-shadow .45s @ease-out;
    border: none;
    margin-left: 15% !important;
    
}

.radarLogoHeader {
    width: 120%;
}
@media screen and (max-width: 767px) {
    .content1-content {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 35%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .content1-img img{
        width: 180%;
        margin-top: 25%;
        margin-left: -40%;
        text-align: center;
    }

    .content2-img img {
        width: 60%;
        margin-top: -20%;
        margin-left: 20%;
    }

    .radarLogoHeader {
        width: 80%;
    }

    .banner0-button {
        margin-top: 5%;

        
    }
  }


  
  
  